@import './function';
@import './variables';
@import './colors';
@import './mixin';
@import './keyframes';

@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('~@fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  url('~@fonts/ArialRoundedMTBold.woff') format('woff'), url('~@fonts/ArialRoundedMTBold.ttf')  format('truetype'), url('~@fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  color: $color-font;
  background-color: $color-body-background;
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'ArialRoundedMTBold', Arial,sans-serif;
}

.container {
  @include full-screen;
  //max-width: 1920px;
  //margin: auto;
  position: relative;
}

.scene {
  @include full-screen;
}

#scene0 {
  background-color: $color-scene-0-background;
  color: $color-scene-0-font;
  box-sizing: border-box;
  padding: calculateHeight(30);

  & > .content {
    width: 100%;
    height: 100%;
    border: calculateHeight(10) solid $color-white;
    box-sizing: border-box;
    display: table;

    & > .row {
      display: table-row;
      
      &:nth-child(1) {
        height: 70%;
      }

      .counter {
        color: $color-scene-0-font-dark;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: calculateHeight(60);
        line-height: 1.3;
        padding: 0 calculateHeight(60);
      }

      .text {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: calculateHeight(48);
        line-height: 1.3;
        padding: 0 calculateHeight(60);

        #scroll {
          height: calculateHeight(100);
          display: block;
          margin: calculateHeight(10) auto calculateHeight(50) auto;
        }
      }
    }
  }
}

#house {
  @include full-screen;
  position: fixed;
  background: $color-scene-1-background url('~@images/svg/wall.svg') 50% 50% / auto 100% repeat-x;

  #floor {
    width: 100vw;
    height: 18vh;
    min-width: 320px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('~@images/svg/floor.svg') center center / auto 100% repeat-x;
  }

  #night {
    position: absolute;
    left: 5%;
    bottom: calculateHeight(390);
    width: calculateHeight(334);
    height: calculateHeight(574);
    z-index: z-index('night');
    background-color: $color-scene-1-night;
      
    #window {
      width: 100%;
      height: 100%;
      z-index: z-index('window');
    }

    #snows {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: z-index('snows');

      .snow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: falling linear infinite both;
        transform: translate3D(0, -100%, 0);
                  
        &--near {
          animation-duration: $snow-near;
          background-image: url('~@images/png/snow-large.png');
          background-size: contain;
          
          & + .snow--alt {
            animation-delay: ($snow-near / 2);
          }
        }
          
        &--mid {
          animation-duration: $snow-mid;
          background-image: url('~@images/png/snow-medium.png');
          background-size: contain;
          
          & + .snow--alt {
            animation-delay: ($snow-mid / 2);
          }
        }
          
        &--far {
          animation-duration: $snow-far;
          background-image: url('~@images/png/snow-small.png');
          background-size: contain;
          
          & + .snow--alt {
            animation-delay: ($snow-far / 2);
          }
        }
      }
    }
  }

  #calendar {
    position: absolute;
    right: 5%;
    bottom: calculateHeight(600);
    width: calculateHeight(234);
    height: calculateHeight(300);
    z-index: z-index('calendar');
  }

  #pot {
    bottom: calculateHeight(60);
    height: calculateHeight(125);
    @include svg-shadow($shadow-size);
    @include absolute-center;
    z-index: z-index('pot');
  }

  #tree {
    bottom: calculateHeight(111);
    height: calculateHeight(696);
    @include svg-shadow($shadow-size);
    @include absolute-center;
    z-index: z-index('tree');
  }

  #deco {
    bottom: calculateHeight(233);
    height: calculateHeight(506);
    @include svg-shadow($shadow-size);
    @include absolute-center;
    z-index: z-index('deco');
  }

  #balls {
    width: calculateHeight(385);
    height: calculateHeight(696);
    @include absolute-center;
    bottom: calculateHeight(111);

    & > div {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .ball {
      position: absolute;
      height: calculateHeight(42);
      z-index: z-index('ball');
      @include svg-shadow($shadow-size);

      &--yellow {
        top: 22%;
        left: 30%;
      }
      &--purple {
        top: 46%;
        left: 59%;
      }
      &--red {
        top: 61%;
        left: 20%;
      }
    }
  }

  #star {
    bottom: calculateHeight(788);
    height: calculateHeight(90);
    @include svg-shadow($shadow-size);
    @include absolute-center;
    z-index: z-index('star');
  }

  #wish {
    color: $color-scene-0-font-dark;
    text-align: center;
    font-size: calculateHeight(75);
    line-height: 1.3;
    //@include absolute-center;
    position: absolute;
    right: 10%;
    bottom: calculateHeight(340);
  }
}