{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "airbnb-base"],
  "settings": {
    "import/resolver": [
      "node",
      {
        "webpack": {
          "config": "./webpack/webpack.base.conf.js"
        },
        "extensions": [".js"]
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["webpack/**/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "peerDependencies": false,
            "bundledDependencies": false,
            "optionalDependencies": false
          }
        ]
      }
    }
  ]
}
